		
    {% extends 'base2/base.html' %}
    {% block title %}专有云v2版本{% endblock %}
        {% block content %}

        <div class="page-title">
              <div class="title_left">
              </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2 align="center" style="float: inherit"> <font  size=5 style="letter-spacing:8px">专有云</font></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="x_content">
                        <p class="text-muted font-13 m-b-30"></p>

                        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>                         
                            <tr>                            
                                <th  style="text-align:center;">版本</th>                
                                <th  style="text-align:center;">项目数</th>               
                                <th  style="text-align:center;">主机数</th>               
                                <th  style="text-align:center;">健康值</th>            
                                <th  style="text-align:center;">统计</th>            
                                <th  style="text-align:center;">版本介绍</th>            
                            </tr>                           
                            </thead>                                                                  
                            <tbody>                         
                                {% for info in version_set %}
                                <tr>                            
                                    <td style="width:10%;text-align:center;"><a  href="{% url 'aliyun:version' %}?version_id={{ info.version_id }}&version={{ info.version_type }}"><i class="fa fa-link"></i> {{ info.version_type }}</a></td>
                                    <td class="tool_instruction"  style="width:10%;text-align:center">{{ info.project_count_db }}</td> 
                                    <td class="tool_instruction"  style="width:10%;text-align:center">{{ info.host_count_db }}</td> 
                                    <td class="tool_instruction"  style="width:30%;text-align:center">
                                        <div class="progress progress-striped active" style="margin-bottom: 0px;">
                                            {% if info.health_num >= 80 %}
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ info.health_num }}%;">
                                                    <span>{{ info.health_num }}</span>
                                                </div>
                                            {% elif info.health_num < 80 and info.health_num >= 60 %}
                                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ info.health_num }}%;">
                                                    <span>{{ info.health_num }}</span>
                                                </div>
                                            {% elif info.health_num <= 60  %}
                                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ info.health_num }}%;">
                                                    <span>{{ info.health_num }}</span>
                                                </div>
                                            {% endif %}
                                        </div> 
                                    </td> 
                                    <td style="text-align:center; width:20%"><button class="btn btn-primary" type="button"  onclick="report_stat('{{info.version_id}}','{{info.version_type}}')">查看</button></td>    
                                    <td class="tool_instruction"  style="text-align:center;width:10%;">{{ info.version_description }}</td> 
                                </tr>                           
                                {% endfor %}
                            </tbody>                        
                        </table>     

                  </div>
                </div>
              </div>
            </div>

            {% endblock %}


		



        {% block extrajs %}
		<script type="text/javascript">
            $(document).ready(function() {
                $('#example').DataTable( {
                    "createdRow": function( row, data, dataIndex ) {
                        $(row).children('td').eq(0).attr('style', 'text-align: center; vertical-align: middle;width:15%')
                        $(row).children('td').eq(1).attr('style', 'text-align: center; vertical-align: middle;width:15%')
                        $(row).children('td').eq(2).attr('style', 'text-align: center; vertical-align: middle;width:15%')
                        $(row).children('td').eq(3).attr('style', 'text-align: center; vertical-align: middle;width:30%')
                        $(row).children('td').eq(4).attr('style', 'text-align: center; vertical-align: middle;width:15%')
                        $(row).children('td').eq(5).attr('style', 'text-align: center; vertical-align: middle;width:10%')
                    },
                });

            });
           
            function report_stat(version_id,version_type){
                var url = "{% url 'report:check_items_stat' %}?version_id="+version_id+"&version_type="+version_type+"&version_tag=1"    
                location.href = url;
            };

        </script>
	
        {% endblock %}	

