		
    {% extends 'base2/base.html' %}
    {% block title %}上传主机check日志{% endblock %}
        {% block content %}

        <div class="page-title">
              <div class="title_left">
              </div>
        </div>

        <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                        <h2>Upload <small>提供专有云项目下主机收集日志包的上传、检测功能。</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    <form id="upload_host_check_log" enctype="multipart/form-data" action="{% url 'aliyun:upload_host_check_log' %}"  method="post" data-parsley-validate class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"> 云类别 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="cloud_type_id" class="form-control" disabled="disabled" placeholder="专有云">
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12"> 版本 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                 <select class="form-control" id="cloud_version_id" name="cloud_version_id">
                                     {% for obj in version_set  %}
                                     <option value="{{ obj.version_id }}">{{ obj.version_type }}</option>
                                     {% endfor  %}
                                 </select>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12"> 项目名称 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                 <select class="project_list" id="project_id"  name="project_id" class="form-control" style="width: 100%" data-placeholder="请选择项目名称" ></select>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12"> 添加主机日志包 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="file"  id="Myfile" name="host_check_log"/> 
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12"> 备注 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <textarea id="host_check_description" name="description" placeholder="请输入备注信息"  class="form-control col-md-7 col-xs-12"></textarea>
                            </div>
                        </div>
                       </span> 
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <input class="btn btn-warning" id="uploadHostLog" onclick="submit" type="button" value="upload" style="font-weight:bold; border-radius:30px;"/>
                            </div>
                        </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
<!-- 增加部分起始 -->
            <div class="am-u-md-41" id="up_loading" style="text-align:center;margin-top: 211px;display:none"  align="center">
                <img src="/static/images/boy_loading.gif"  style="text-align:center" alt="system_process-img" class="img-rounded">
                <h3>   玩命上传中，请稍等。。。。。。</h3>
            </div>
    <!-- 增加部分结束 -->
    {% endblock %}

    {% block extrajs %}
		<script type="text/javascript">
            //submit form data
            function upload_host_check_log(){
                $("#upload_host_check_log").submit()
            };


            //select2 异步请求获取项目列表
            function select2_fun(cloud_version_id){
                $(".project_list").select2({
                    ajax: {
                        url: "{% url 'aliyun:project_list' %}?&cloud_version_id="+cloud_version_id,
                        cache: true,
                    }
                });

            }

            $(document).ready(function() {
                var cloud_version_id = $("#cloud_version_id").val()
                select2_fun(cloud_version_id)
                $("#cloud_version_id").change(function(){
                    var cloud_type_id = $("#cloud_type_id").val()
                    var cloud_version_id = $("#cloud_version_id").val()
                    var url = "{% url 'aliyun:upload_host_check_log' %}?cloud_type_id="+cloud_type_id+'&cloud_version_id='+cloud_version_id
                    //清空 项目下拉菜单
                    $("#project_id").val('')
//                    window.location.href = url;
                    select2_fun(cloud_version_id)
                });
//新增部分起始

            $("#uploadHostLog").click(function(){
                var upload_file_name = $("#Myfile").val();
                var re_file_name = new RegExp(/\.tar\.gz$/);
                if (!upload_file_name){
                    alert("请选择要上传的主机日志")
                }
                else if(!re_file_name.test(upload_file_name)){
                     alert("请输入正确的tarball 如:cloud_log.2017-10-20-16-54-51.tar.gz")
                }
                else{
                    $(".row").hide()
                    $("#up_loading").show()
                    $("#upload_host_check_log").submit();
                }
                });

                $("#host_check_description").each(function(){
                    $(this).html($(this).text().replace(/\n/g,'<br>'))
                });

//新增部分结束
            });
            

        </script>
	
    {% endblock %}	

